* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.contenedor {
  display: inline-block;
  width: 400px;
}

.texto {
  padding: 10px;
  background-color: #24b080;
  color:white;
  font-size: 16px;
  margin: 20px auto;
}

.boton {
  display: inline-block;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #24b080;
  padding: 10px 30px;
  cursor: pointer;
  color: #24b080;
  text-decoration: none;
}

.boton:hover {
  background-color: #24b080;
  border: 2px solid #24b080;
  color: white;
}

.fondo-rojo {
  background-color: tomato;
}

.display {
  display: none;
}
